* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(#F9A567, #ED7167);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header h1 {
  color: #fff;
}

.add_btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F9A567FF;
  border-radius: 50%;
  background: linear-gradient(#F9A567, #ED7167);;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.add_btn:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* start todo list styles */
.todoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todoItem {
  display: flex;
  border: 1px solid #D8D8D8;
  border-radius: 30px;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin: 20px;
  padding: 15px 20px;
  background-color: #ffffff;
}

.todoItem:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
  border-bottom: 1px solid rgba(0,0,0,.18);
}

.checkItem {
  flex: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-color: #D8D8D8;
  border-radius: 50%;
  margin-right: 5px;
}

.notDoneCircle {
  color: #fff;
  font-size: 20px;
}

.doneCircle {
  color: #0de04a;
  font-size: 20px;
}

.todoText {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

.todoDec {
  transition-duration: 0.2s;
}

.todoButton {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todoButton button {
  height: 30px;
  width: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 0 5px;
  color: #494949;
}
/* end todo list styles */


/* start todo form styles */

.form-container{
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  height: 1px;
  overflow: hidden;
}

.addNewItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #EC345A;
  color: #EC345A;
  border-radius: 20px;
  height: 40px;
  margin: 20px;
}

.selectLabel {
  margin: 30px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.tagsColorContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 10px;
}

.tagsColor {
  margin: 5px;
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_input {
  outline: none;
  opacity: 10%;
  border-style: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.color_input:focus {
  background-color: #FFFFFF00;
}

.todoForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
}

.formTitle_input {
  width: 90%;
  min-height: 40px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #8a8a8a;
  padding-left: 10px;
}

.formTitle_input:focus-visible {
  border-color: #494949;
}

.formDec_input {
  width: 90%;
  min-height: 60px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #8a8a8a;
  padding-left: 10px;
}

.formDec_input:focus-visible {
  border-color: #494949;
}

.formBtnContainer{
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
}

.formSubmit_btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  margin: 20px 10px 0 0 ;
  border: none;
  background: linear-gradient(#F9A567, #ED7167);;
  color: #fff;
}

/* end todo list styles */

@media only screen and (min-width: 527px) {
  .main {
    width: 100%;
  }
  .todoContainer {
    max-width: 500px;
  }
  .form-container {
    max-width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    width: 100%;
  }
  .todoContainer {
    max-width: 600px;
  }
  .form-container {
    max-width: 600px;
  }
}