* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.relative_pos{
  position: relative;
}

.absolute_pos{
  position: absolute;
}

.margin_20 {
  margin: 20px;
}

.max_h {
  height: 100%;
}

.min_h{
  height: 1px;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(#F9A567, #ED7167);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header_title {
  color: #fff;
  margin: 20px;
}

.nothing-to-show_image {
  width: 100%;
  height: 100%;
}

.add_btn {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F9A567FF;
  border-radius: 50%;
  background: linear-gradient(#F9A567, #ED7167);;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.add_btn:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* start filter styles */

.filter_container {
  margin: 0 20px;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}

.filter_selector {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #a1a1a1;
  outline: none;
  max-width: 150px;
  width: 100%;
  background-color: #fff;
}

.filter_selector:focus {
  border: 2px solid #b6b6b6;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

/* end filter styles */


/* start search box styles */

.searchBox_container {
  /*width: 30%;*/
}

.search_component {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  height: 37px;
  width: 100%;
  max-width: 200px;
  background-color: #fff;
}

.searchBox {
  width: 80%;
  margin: 0 10px;
}

.search_input {
  padding-right: 10px;
  width: 100%;
  border-style: none;
}

.search_input:focus{
  outline: none;
  opacity: 1;
}

.gray_heart {
  color: #a1a1a1;
  cursor: pointer;
}

.icon_margin {
  margin: 0 6px;
}

/* end search box styles */

/* start todo list styles */

.todoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 50;
}

.todoItem {
  display: flex;
  border: 1px solid #D8D8D8;
  border-radius: 30px;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin: 20px;
  padding: 15px 20px;
  background-color: #ffffff;
}

.todoItem:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
  border-bottom: 1px solid rgba(0,0,0,.18);
}

.checkItem {
  flex: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-color: #D8D8D8;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.notDoneCircle {
  color: #fff;
  font-size: 20px;
}

.doneCircle {
  color: #0de04a;
  font-size: 20px;
}

.todoText {
  flex: 70%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.todoTag {
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-size: 15px;
}

.todoDec {
  transition-duration: 0.2s;
}

.todoButton {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todoButton button {
  height: 30px;
  width: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 0 5px;
  color: #494949;
}

.todo_checkBox {
  border-color: #D8D8D8;
}

.todoIcon {
  cursor: pointer;
}
/* end todo list styles */


/* start todo form styles */

.form-container{
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 50;
}

.wrapper {
  /*height: 1px;*/
  overflow: hidden;
}

.addNewItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #EC345A;
  color: #EC345A;
  border-radius: 20px;
  height: 40px;
  margin: 20px;
}

.selectLabel {
  margin: 30px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.tagsColorContainer {
  /*display: grid;*/
  /*grid-template-columns: auto auto auto auto;*/
  /*grid-template-rows: auto auto;*/
  /*gap: 10px 10px;*/
  display: flex;
  gap: 20px;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 10px;
}

.tagsColor {
  display: flex;
  gap: 7px;
  /*margin: 10px;*/
  min-width: 30px;
  min-height: 30px;
  /*padding: 5px;*/
  color: #8a8a8a;
  justify-content: center;
  align-items: center;
}

.color_input {
  outline: none;
  opacity: 100%;
  border-style: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.color_input:focus {
  background-color: #FFFFFF00;
}

.todoForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
}

.formTitle_input {
  width: 90%;
  min-height: 40px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #8a8a8a;
  padding-left: 10px;
}

.formTitle_input:focus-visible {
  border-color: #494949;
}

.formDec_input {
  width: 90%;
  min-height: 60px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #8a8a8a;
  padding-left: 10px;
}

.formDec_input:focus-visible {
  border-color: #494949;
}

.formBtnContainer{
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
}

.formSubmit_btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  margin: 20px 10px 0 0 ;
  border: none;
  background: linear-gradient(#F9A567, #ED7167);;
  color: #fff;
}

.todo_checked {
  color: #959595;
  text-decoration-line: line-through;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 30px;
  height: 30px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* end todo list styles */

@media only screen and (min-width: 527px) {
  .main {
    width: 100%;
  }
  .todoContainer {
    max-width: 500px;
  }
  .form-container {
    max-width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    width: 100%;
  }
  .todoContainer {
    max-width: 600px;
  }
  .form-container {
    max-width: 600px;
  }
}